

.faq {
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 8px;
}

.hd {
  font-size: calc(0.5em + 1vw);
  font-weight: 700;
  line-height: 1em;
  /*padding-bottom: 8px;*/
}

.pt {
  /*padding-top: 20px;*/
}

.p {
  line-height: 24px;  
  font-size: calc(0.7em + 0.3vw);
}