.card {
  margin: 32px 4vw;
  width: var(--content-width);
  border-radius: 3vw;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: white;
  /*border: none;*/
  /*border-left: 2px solid #fff;
  border-top: 2px solid #fff;*/
  box-shadow: none;
  color: #000;
  outline: 2px solid #000;
}

.leftButton {
  left: -24px;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}

.rightButton {
  position: absolute;
  right: -24px;
  top: 100%;
  transform: translateY(-50%);
}

.button:active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.h2 {
  font-size: calc(1em + 0.5vw);
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 16px;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;

}

.flex {
  display: flex;
  justify-content: space-between;
}

.moleculeCount {
  padding-top: 5px;
  /*text-shadow: 1px 1px 2px white, 0 0 2em white, 0 0 2em white;*/
  text-shadow: 1px 1px 1px white, -1px 1px 2px white, 1px -1px 2px white, -1px -1px 2px white;
}

.bg {
    background-size:cover;
    /*background-image: url('../../res/img/17844.jpg');*/
    background-repeat: repeat;
    /*min-height:235px;*/
    /*opacity:0.4;*/
}
