.card {
  margin: 0 4vw;
  width: var(--content-width);
}

.card + .card {
  margin-top: 32px;
}

.p + .p {
  margin-top: 24px;
}

.h2 {
  font-size: min(calc(1em + 1vw),22px);
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 16px;
  text-shadow: 1px 1px 2px gray, 0 0 1em white, 0 0 0.2em white;
}

.h3 {
  font-size: calc(0.5em + 1vw);
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 8px;
}

.pt {
  padding-top: 20px;
}

.table {
  width: 100%;
  font-weight: bold;
  /*text-shadow: 2px 2px 4px white, 0 0 4px white, 0 0 2.4em gray;*/
}

.tleft {
  text-align:left;
  width: 50%;
  /*min-width:500px;*/
  height:235px;
}

.tright {
  text-align:right;
  max-width:300px;
  vertical-align: middle;
  font-style: italic;
}

.bg {
    margin: 20px 4vw;
    justify-content: center;
    background-image: url('../res/img/property.png');
    background-repeat: no-repeat;
    min-height:235px;
    /*background-size:cover;*/
    background-position: center bottom;
}

.bgPrice {
    margin: 20px 4vw;
    justify-content: center;
    background-size:cover;
    background-image: url('../res/img/19366_price.jpg');
    background-repeat: no-repeat;
}

.bgAbout {
    margin: 20px 4vw;
    justify-content: center;
    background-size:cover;
    background-image: url('../res/img/19366_about.jpg');
    background-repeat: no-repeat;
}

.flex {
/*  display: flex;
  justify-content: space-between;*/
  font-style: italic;
  font-weight: bold;
}

.left {
  text-align:left;
  margin: 0 10px 0 0;
}

.right {
  text-align:right;
  vertical-align: middle;
}

.mailDiv {
  text-align:center;
  padding-top: 20px;
  font-size: 14px;
  font-family: var(--bs-body-font-family);
}

.mailText{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-top-width: 2px;
  border-top-style: solid;
}

.img {
  max-width: 128px;
  vertical-align: middle;
  margin: 20px;
}

.grok {
  color: #566c90 !important;
  outline: none;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding-left: 48px;
  background-image: url(https://datagrok.ai/img/logo.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: center;
  font-weight: bold;
/*  height: 70px;
  display: flex;
  align-items: center;*/
  margin-left: 0.5rem;
  margin-right: 0;
}